/* ----------------GENERAL---------------- */

/* ----------------UTILITY---------------- */
.debug{
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
}

.ms-height-90{
    height: 90px;
}

.uppercase{
    text-transform: uppercase;
}

/* ---------------COMPONENTS--------------- */
.ms-form{
    height: 55px;
    border-bottom: 2px solid #CCCCCC;
    line-height: 55px;
}

.circle{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    margin: 5px;
}

/* -----------------HEADER----------------- */
header{
    background-color: #2C3E50;
    height: 90px;
    line-height: 90px;
}

/* ------------------MAIN------------------ */
.jumbotron .image{
    height: 225px;
    width: 225px;
    background-color: #2C3E50;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 30px;
}

.ms-form-msg{
    height: 195px;
    border-bottom: 2px solid #CCCCCC;
    line-height: 55px;
}

.fa-star{
    font-size: 2rem;
}

.line-star-light{
    width: 170px;
    height: 4px;
    background-color: #FFFFFF;
}

.line-star-dark{
    width: 170px;
    height: 4px;
    background-color: #2C3E50;
}

/* -----------------FOOTER----------------- */


/* ---------------PALETTE--------------- */
.jumbotron{
    background-color: #1ABC9C;
}

.about{
    background-color: #1ABC9C;
}

.f-top{
    background-color: #3A546D;
}

.f-bottom{
    background-color: #2C3E50;
}

.house{
    background-color: #BA4B63;
}

.cake{
    background-color: #1EA4B6;
}

.circus{
    background-color: #140F0F;
}

.joystick{
    background-color: #1C83C1;
}

.vault{
    background-color: #0E38B5;
}

.submarine{
    background-color: #CCB2A3;
}

.ms-btn{
    background-color: #1ABC9C;
}